body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #E5F3F2;
  font-family: 'Roboto Slab', serif;
  height: 220px;
  padding: 20px;
}

.box-header {
  color: #6D6E71;
  margin-bottom: 0;
}

.idea-header {
  color: #00A79D;
}
