input {
  display: block;
  margin: 10px auto;
  width: 350px;
}

.save-button {
  border: none;
  background-color:#00A79D;
  color: #FFFFFF;
  height: 20px;
  width: 355px;
}

.save-button:hover {
  background-color: #045E55;
  cursor: pointer;
}
