.card-body {
  color: #939598;
  font-size: 12px;
  text-align: left;
}

.card-title {
  color: #6D6E71;
  font-size: 16px;
  text-align: left;
}

.card-quality {
  color: #6D6E71;
  font-size: 10px;
  text-align: left;
}

.delete-button, .down-button, .up-button {
  height: 20px;
  width: 20px;
}

.delete-button:hover, .down-button:hover, .up-button:hover {
  cursor: pointer;
}

.delete-button {
  background-image: url('./assets/delete.svg');
  background-color: #FFFFFF;
  border: none;
  left: 290px;
  position: relative;
}

.delete-button:hover {
  background-image: url('./assets/delete-hover.svg');
}

.down-button {
  background-image: url('./assets/downvote.svg');
  background-color: #FFFFFF;
  border: none;
}

.down-button:hover {
  background-image: url('./assets/downvote-hover.svg');
}

.up-button {
  background-image: url('./assets/upvote.svg');
  background-color: #FFFFFF;
  border: none;
}

.up-button:hover {
  background-image: url('./assets/upvote-hover.svg');
}

hr {
  border: 0.5px solid #D1D3D4;
}

.idea-card {
  margin: auto;
  width: 355px;
}
